@import "./variables";

.task-search {
  width: 100%;
  height: 43px;
  margin: 20px 0;

  border: $border;
  border-radius: $border-radius;
  background: $bg-light;

  padding-left: 9px;

  color: $color-light;
  font-weight: 600;

  outline: none;
}
