@import "./variables";

.todo-list {
  width: 100%;
  min-height: 60px;
  max-height: 75%;
  // height: 600px;
  border: $border;
  border-radius: $border-radius;
  background: $bg-light;

  overflow: auto;
}
